* {
  box-sizing: border-box;
}

img.small {
  max-height: 15rem;
  border-radius: 2rem;
}

button {
  padding: 0.3rem;
  border: 0.1rem darkslategrey solid;
  background-color: lightgreen;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
}

.deleteButton {
  background-color: orangered;
}

.card {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 100%;
}

@media screen and (min-width: 880px) {
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 3;
  }
}

.block {
  background-color: lightsteelblue;
  padding: 1rem;
  margin: 0.5rem;
}